.coverage
*.egg-info
*.log
*.mo
*.py?
*.pyc
*.swp
# dirs
.settings
bin/
buildout-cache/
develop-eggs/
eggs/
htmlcov/
include/
lib/
local/
parts/
test.plone_addon/
var/
# files
.*project
.coverage
.installed.cfg
.mr.developer.cfg
lib64
log.html
output.xml
pip-selfcheck.json
report.html
# excludes
!.coveragerc
!.editorconfig
!.gitattributes
!.gitignore
!.gitkeep
!.travis.yml