[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.3.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg
    https://raw.githubusercontent.com/plone/plone.app.robotframework/master/versions.cfg
    https://raw.githubusercontent.com/plonegovbr/portal.buildout/master/buildout.d/versions.cfg

package-name = brasil.gov.portlets
package-extras = [test]

eggs +=
    Products.PDBDebugMode
    z3c.unconfigure

parts +=
    createcoverage
    code-analysis
    node
    omelette
    robot

[code-analysis]
recipe = plone.recipe.codeanalysis[recommended]
directory = ${buildout:directory}/src/brasil/gov/portlets
clean-lines = True
csslint = True
csslint-bin = bin/csslint
# Com relação ao T000 sendo ignorado, ver
# https://github.com/plone/plone.recipe.codeanalysis/issues/193
flake8-ignore = E501,T000
jshint = True
jshint-bin = bin/jshint
multiprocessing = True
return-status-codes = True

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[robot]
recipe = zc.recipe.egg
eggs =
    Pillow
    ${test:eggs}
    plone.app.robotframework[ride,reload]

[test]
environment = testenv

[testenv]
PLONE_CSRF_DISABLED = true

[versions]
# use latest version of coverage
coverage =

# Como no extends de versões do release do IDG, logo acima, eu pino
# esse pacote, preciso "despiná-lo" aqui para que ele não seja
# baixado de novo: o fato dele estar no src não impede o download
# dele de novo como um egg se ele estiver pinado no extends.
brasil.gov.portlets =

# FIXME: https://github.com/plonegovbr/portalpadrao.release/issues/10
plone.app.collection = 1.0.13
