/* ==========================================================================
   Portlet Audio
   ========================================================================== */
.portlet .portlet-audio-title
{
    font-size: 13px;
    font-size: .8125rem;
    font-weight: normal;

    margin: 0;
    margin-bottom: 10px;
    margin-bottom: .625rem;
    padding: 0;

    color: #454545;
}

/* fix bug in the width of right side portlet */

#portal-column-one .jp-time-holder
{
    position: static;

    float: left;
    clear: both;

    width: 70px;
    margin-top: 17px;
    margin-left: -10px;
}


/* ==========================================================================
   Portlet Audio Gallery
   ========================================================================== */



/* ==========================================================================
   Portlet Video
   ========================================================================== */
.portal-padrao-video-portlet .video-container
{
    margin-bottom: 10px;
}

.portal-padrao-video-portlet .title
{
    font-size: .85em;

    color: #454545;
}

/* responsive css */
.portal-padrao-video-portlet .video-container
{
    position: relative;

    overflow: hidden;

    height: 0;
    padding-top: 35px;
    padding-bottom: 56.25%;
}

.portal-padrao-video-portlet .video-container iframe
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

/* Contrast */
.contraste .portal-padrao-video-portlet .title
{
    color: #fff;
}


/* ==========================================================================
   Portlet Video Gallery
   ========================================================================== */
.portal-padrao-videogallery-portlet
{
    overflow: hidden;

    color: #fff;
    border: 1px solid #072d6d;
    border-radius: 5px;
    background-color: #072d6d;
}

.portal-padrao-videogallery-portlet .portletHeader
{
    padding: .71em .65em .58em .65em;

    border-bottom: 1px solid #305491;
}

.portal-padrao-videogallery-portlet .portlet-videogallery-header
{
    font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
    line-height: 1.3em;

    text-transform: uppercase;

    color: #fff;
}

.portal-padrao-videogallery-portlet .player
{
    padding: .58em .65em .9em .65em;

    border-bottom: 1px solid #305491;
}

.portal-padrao-videogallery-portlet .portlet-videogallery-player
{
    width: 100%;
    margin-bottom: .9em;
}

.portal-padrao-videogallery-portlet .portlet-videogallery-active-title
{
    font-family: 'open_sansbold', Arial, Helvetica, sans-serif;
    font-size: .95em;
    line-height: 1.24em;

    overflow: hidden;

    height: 2.48em;
    margin-bottom: .3em;

    color: #d1e1ff;
}

.portal-padrao-videogallery-portlet .portlet-videogallery-description
{
    font-size: .9em;
    line-height: 1.16em;

    color: #617cae;
}

.portal-padrao-videogallery-portlet .cycle-pager-active
{
    display: none;
}

.portal-padrao-videogallery-portlet .thumb-itens
{
    float: left;

    width: 100%;
    padding: .65em 0;

    border-bottom: 1px dotted #305491;
    margin-bottom: 1px;
}

.portal-padrao-videogallery-portlet .portlet-videogallery-thumbnail
{
    float: left;
    overflow: hidden;

    max-width: 100px;
    max-height: 70px;
    margin: 0 .7em 0 .9em;
}

.portal-padrao-videogallery-portlet .portlet-videogallery-thumbnail img
{
    border-radius: 0;
}

.portal-padrao-videogallery-portlet .portlet-videogallery-inactive-title
{
    font-size: .75em;

    padding-right: .9em;

    color: #d1e1ff;
}

.portal-padrao-videogallery-portlet .portletFooter
{
    float: left;

    width: 100%;
    padding: .52em 0 .39em 0;

    text-align: right;

    background: #062457;
}

.portal-padrao-videogallery-portlet .portletFooter a
{
    font-size: .73em;
    line-height: 20px;

    display: inline-block;

    height: 20px;
    height: 100%;
    margin: 0 .71em;
    padding-right: 28px;

    color: #d1e1ff;
    background: url('++resource++brasil.gov.portlets/img/footer-arrow.jpg') no-repeat scroll right 0 top 50% rgba(0, 0, 0, 0);
}

/* right portlet */
#portal-column-one .portal-padrao-videogallery-portlet .portletHeader
{
    padding: .58em .52em .58em .52em;
}

#portal-column-one .portal-padrao-videogallery-portlet .player
{
    padding: .58em 0 .5em 0;
}

#portal-column-one .portal-padrao-videogallery-portlet .portlet-videogallery-player
{
    margin-bottom: .35em;
    padding: 0 .45em;
}

#portal-column-one .portal-padrao-videogallery-portlet .portlet-videogallery-active-title
{
    font-size: .73em;
    line-height: 1.22em;

    height: inherit;
    margin-bottom: .5em;
    padding: 0 .71em .95em .71em;

    border-bottom: 1px dotted #305491;
}

#portal-column-one .portal-padrao-videogallery-portlet .portlet-videogallery-description
{
    padding: 0 .72em;
}

#portal-column-one .portal-padrao-videogallery-portlet .portlet-videogallery-thumbnail
{
    max-width: 43%;
    max-height: 75px;
    margin: 0 .45em 0 .71em;
}

#portal-column-one .portal-padrao-videogallery-portlet .portlet-videogallery-inactive-title
{
    overflow: hidden;
    height: 5.7em;
}

#portal-column-one .portal-padrao-videogallery-portlet .portletFooter a
{
    margin: 0 .5em;
    padding-right: 26px;
}

/* contrast */
.contraste .portal-padrao-videogallery-portlet
{
    border: 1px solid #fff;
    background: #000 !important;
}

.contraste .portal-padrao-videogallery-portlet .portlet-videogallery-active-title,
.contraste .portal-padrao-videogallery-portlet .portlet-videogallery-description,
.contraste .portal-padrao-videogallery-portlet .portlet-videogallery-inactive-title
{
    color: #fff !important;
}

.contraste .portal-padrao-videogallery-portlet .thumb-itens,
.contraste .portal-padrao-videogallery-portlet .player,
.contraste #portal-column-one .portal-padrao-videogallery-portlet .portlet-videogallery-active-title
{
    border-bottom: 1px dotted #fff;
}

.contraste .portal-padrao-videogallery-portlet .portletFooter {
    background: #000;
}

.contraste .portal-padrao-videogallery-portlet .portletFooter a {
    background-image: url("++resource++brasil.gov.portlets/img/seta_branca.png");
}


/* ==========================================================================
   Portlet Collection
   ========================================================================== */
.portal-padrao-collection-portlet .portletHeader
{
    padding: .55em .9em;
}

.portal-padrao-collection-portlet .portletHeader a,
.portal-padrao-collection-portlet .portletHeader a span
{
    font-family: open_sansbold, Arial, Helvetica, sans-serif;
    font-size: .95em;
    font-weight: normal;

    display: block;

    margin: 0;
    padding: 0;

    color: #454545;
}

.portal-padrao-collection-portlet .portlet-collection-item
{
    padding: 1em .52em;

    border-bottom: 1px dotted #c1c2c2;
}

.portal-padrao-collection-portlet .portlet-collection-image a
{
    float: none;

    width: 100%;
    margin: 0;
}

.portal-padrao-collection-portlet .portlet-collection-image img
{
    width: 100%;

    border-radius: 0;
}

.portal-padrao-collection-portlet .portlet-collection-text
{
    padding: .6em .07em 0 .07em;
}

.portal-padrao-collection-portlet .portlet-collection-date
{
    font-size: .7em;

    margin: 0;

    color: #335277;
}

.portal-padrao-collection-portlet .portlet-collection-title
{
    margin-bottom: .36em;
}

.portal-padrao-collection-portlet .portlet-collection-title a
{
    font-size: .65em;
    line-height: 1.43em;

    float: none;

    width: 100%;
    margin: 0;

    color: #335277;
}

.portal-padrao-collection-portlet .portlet-collection-description
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: .87em;
    line-height: 1.32em;

    margin: 0;

    color: #46494e;
}

.portal-padrao-collection-portlet .portletFooter
{
    overflow: hidden;

    padding: .71em .52em;

    background: none;
}

.portal-padrao-collection-portlet .portletFooter a
{
    font-size: .7em;
    line-height: 14px;

    width: 100%;
    padding-right: 1.4em;

    color: #444a53;
    background: url('++resource++brasil.gov.portlets/img/footer-arrow.png') no-repeat right 0;
}

/* contrast */
.contraste .portletCollection
{
    border: 1px solid #fff;
    background: #000 !important;
}

.contraste .portal-padrao-collection-portlet .portletHeader
{
    border-radius: 5px 5px 0 0;
}

.contraste .portal-padrao-collection-portlet .portletHeader a span,
.contraste .portal-padrao-collection-portlet .portlet-collection-date,
.contraste .portal-padrao-collection-portlet .portlet-collection-description
{
    color: #fff !important;
}

.contraste .portal-padrao-collection-portlet .portletFooter a
{
    background-image: url('++resource++brasil.gov.portlets/img/footer-arrow-contrast.png');
}
