/* ==========================================================================
   Portlet de audio
   ========================================================================== */

.portlet .portlet-audio-title {
    font-size: 13px;
    font-size: 0.8125rem;
    color: #454545;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
    font-weight: normal;
}

/* correcao de bug de largura no portlet lateral direito */

#portal-column-one .jp-time-holder {
    width: 70px;
    position: static;
    clear: both;
    float: left;
    margin-top: 17px;
    margin-left: -10px;
}


/* ==========================================================================
   Portlet de galeria de audio
   ========================================================================== */



/* ==========================================================================
   Portlet de video
   ========================================================================== */



/* ==========================================================================
   Portlet de galeria de video
   ========================================================================== */
