/* ==========================================================================
   Portlet de audio
   ========================================================================== */

.portlet .portlet-audio-title {
    font-size: 13px;
    font-size: 0.8125rem;
    color: #454545;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
    font-weight: normal;
}

/* correcao de bug de largura no portlet lateral direito */

#portal-column-one .jp-time-holder {
    width: 70px;
    position: static;
    clear: both;
    float: left;
    margin-top: 17px;
    margin-left: -10px;
}


/* ==========================================================================
   Portlet de galeria de audio
   ========================================================================== */



/* ==========================================================================
   Portlet de video
   ========================================================================== */
.portal-padrao-video-portlet .video-container {
    margin-bottom: 10px;
}

.portal-padrao-video-portlet .title {
    font-size: 0.85em;
    color: #454545;
}

/* css responsivo */
.portal-padrao-video-portlet .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.portal-padrao-video-portlet .video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Contraste */
body.contraste .portal-padrao-video-portlet .title {
    color: #fff;
}




/* ==========================================================================
   Portlet de galeria de video
   ========================================================================== */
